<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="static/css/all.css" rel="stylesheet">
  <link href="static/css/all2.css" rel="stylesheet">
  <link href="static/css/text.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
<body>
  <div class="imac-1 container">
     <img class="group-2-C61RwL" src="static/images/logoaudio.svg">
     <form method="post" class="cf" enctype="multipart/form-data">
     <div class="row">
       <div class="col">

         <img class="rectangle-3-C61RwL" data-id="4:5" src="https://cdn.animaapp.com/projects/5fdd53490136fca9d0284658/releases/601d8cb0daf0868897bcc177/img/rectangle-3@2x.svg" anima-src="https://cdn.animaapp.com/projects/5fdd53490136fca9d0284658/releases/601d8cb0daf0868897bcc177/img/rectangle-3@2x.svg">

         <div class="container rectangle-2-C61RwL">

             <div class="row">
               <h1 class="please-upl-audio-file-C61RwL" data-id="1:33">Please, upload your audio file</h1>
             </div>

             <div class="row">
               <div class="button-wrapper">
                  <div class="col">
                    <img class="group-4-C61RwL" data-id="4:33" src="static/images/choose.svg">
                  </div>
                  <input type="file" name="upload_file">
               </div>
             </div>

             <div class="row">
               <div class="dropdown" style="width: 189px; height: 45px; border-radius: 0.6rem; padding: 10 10; background: #001022;">
                <div class="select">
                  <span style="color: #fbfbfd;">Select Model</span>
                  <i class="fa fa-chevron-left"></i>
                </div>
                <input type="hidden" name="language_model">
                <ul class="dropdown-menu">
                    hi
                </ul>
              </div>
             </div>

             <div class="row">
               <div class="button-wrapper">

                   <div class="group-8-C61RwL" style="border: 3px solid #a5ed00;">
                     <div class="select" style="font-size: 22px;transition: all .5s ease; color:#fbfbfd">
                       <span style="top: 0.5rem; color: #fbfbfd;position: relative;padding: 10 10;">Vocabulary</span>
                     </div>
                     <input type="file" name="choose_vocab" style="font-size:40px">
                  </div>
               </div>
             </div>
             <img class="image-4-C61RwL" data-id="4:32" src="https://cdn.animaapp.com/projects/5fdd53490136fca9d0284658/releases/601bb0dc773d1acb63040d68/img/image-4@2x.png" anima-src="https://cdn.animaapp.com/projects/5fdd53490136fca9d0284658/releases/601bb0dc773d1acb63040d68/img/image-4@2x.png">

         </div>

         <div class="col">
             <div class="container rectangle-4-C61RwL">

               <div class="row">
                 <div class="col">
                   <div class="button-wrapper">
                       <button onclick="myFunction()" class="btn2" type="submit">
                            <div class="col">
                               <img class="group-7-VMr6Om" style="position: sticky;" src="static/images/load.svg">
                            </div>
                       </button>
                   </div>
                 </div>
                 <div class="col">
                   Download button
                 </div>
               </div>

               <div class="row">
                 hello
                 <div id="loader_view" class="lorem-ipsu-erra-massa-C61RwL arimo-normal-black-18px" style="position: sticky;">
                      <div id="loader" class="loader">
                         <svg class="circular" viewBox="25 25 50 50">
                           <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                         </svg>
                      </div>
                     <div id="text" class="half right cf" style="width:100%">
                       <textarea name="message" type="text" id="input-message" placeholder="Message"> text </textarea>
                     </div>
                </div>
               </div>

             </div>
          </div>



        </div>
     </div>
   </div>
 </div>
</body>

</html>
